<div>
    <div layout="row" layout-align="center center" >
        <md-card layout="column" layout-align="center center" flex="auto" width="50%">
            <md-toolbar layout="row" layout-align="center center" layout-padding class="md-primary md-hue-2">
                <label>Etapa II - Questionário DFS</label>
            </md-toolbar>
        </md-card>
    </div>
    <div layout="row" layout-align="center center" class="bg">
        <md-card layout="column" layout-align="center center" flex="auto" width="50%">
            <md-card-content layout="column" layout-align="left canter" flex="auto">
                <p>Por favor, responda às seguintes questões com relação à sua experiência em atividades de "resolução de problemas lógicos". 
								Estas questões estão relacionadas com os pensamentos e sensações que você pode experienciar durante 
								a participação numa atividade desse tipo. Você pode experienciar estas características em alguns momentos, 
								a todo momento ou em nenhum momento. Não há respostas corretas ou erradas. Pense sobre quão frequentemente 
								você experiencia cada característica durante sua atividade e então marque o número que melhor representa sua experiência.</p>
            </md-card-content>
            <md-card-content>
                <form>
                
                    <div ng-repeat="q in questions">
                        <h3>{{q}}</h3>
                        <div layout="row">
                            <!--<p>Nunca </p>-->
                            <md-radio-group ng-model="answers[$index]" layout="row" class="md-primary">
															<label>Nunca</label>
															<md-radio-button value="1" aria-label="option 1"></md-radio-button>
															<label>Raramente</label>
															<md-radio-button value="2" aria-label="option 2"></md-radio-button>
															<label>Às vezes</label>
															<md-radio-button value="3" aria-label="option 3"></md-radio-button>
															<label>Frequentemente</label>
															<md-radio-button value="4" aria-label="option 4"></md-radio-button>
															<label>Sempre</label>
															<md-radio-button value="5" aria-label="option 5"></md-radio-button>
													</md-radio-group>
													<!--<p>Sempre</p>-->
                        </div>
                        </p>
                        </p>
                        <md-divider></md-divider>
                    </div>
                    <md-button ng-click="processAnswers()" type="submit" class="md-raised md-primary">Próxima Etapa
                    </md-button>
                    <span>{{msg}}
                    </span>
                </form>
            </md-card-content>
        </md-card>
    </div>
</div>